<html>
<body>

<script>
var limit="0:59"
if (document.images){
var parselimit=limit.split(":")
parselimit=parselimit[0]*60+parselimit[1]*1
}
function beginrefresh(){
if (!document.images)
return
if (parselimit==1)
window.location.href='/refresh/'
else{ 
parselimit-=1
curmin=Math.floor(parselimit/60)
cursec=parselimit%60
if (curmin!=0)
curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
else
curtime=cursec+" seconds left until page refresh!"
window.status=curtime
setTimeout("beginrefresh()",1000)
}
}
window.onload=beginrefresh
</script>

<br>

<div align='center'>
Hello, You are <b>{{name}}</b>
</div>

<br><br>

<div align='center'>
The board is: <br>
<br><br>
<div>_{{moves[0]}}_|_{{moves[1]}}_|_{{moves[2]}}_</div>
<div>_{{moves[3]}}_|_{{moves[4]}}_|_{{moves[5]}}_</div>
<div> {{moves[6]}} |&nbsp {{moves[7]}} &nbsp| {{moves[8]}} </div>
</div>
<br>

<div align='center'>
{% if turn==0 %}
<p>It's your opponent's turn. Please wait for them to play. 
<!--Listen to this till then.</p>
<iframe width="300" height="300"
src="http://www.youtube.com/embed/SRU1OiVwLes">
</iframe>-->

{% elif turn==1 %}
<p>It's your turn!</p>
<form id="playform" role="form" action="/playturn/" method="POST">
Enter cell number to play (1-9):
                <div class="form-group" align="center">
		  <input type="text" maxlength="1" name="cellnumber" id="cellnumber" placeholder="Cell Number" class="form-control" size="8" autofocus>
		<button type="submit" id="play" class="btn btn-success">Go!</button>
</div>
</form>

{% endif %}
</div>

<div align='center'>
<form id="loginform" class="navbar-form navbar-right" role="form" action="/refresh/" method="POST">
<font size='2'>Refresh or wait 1 minute for the page to auto-refresh, if you are lazy.</font><br>
<button type="submit" id="refresh" class="btn btn-success">Refresh</button>
</form>
</div>

<div align='center'>
<u>Messages:<br></u>
{% for i in messagearr %}
<b>{{i.sender}}:</b>
{{i.message}}
<br>
{% endfor %}
<br>
</div>

<div align='center'>
<form id="messageform" role="form" action="/sendmessage/" method="POST">
<div class="form-group" align="center">
<input id="text" style="width: 20%; height: 5%" name='text' rows="1" cols="80" placeholder='Type Message to Send' maxlength='100'>
<button type="submit" id="send" class="btn btn-success">Send!</button>
</div>
</form>


<div align='center'>
<form id="loginform" class="navbar-form navbar-right" role="form" action="/logout_do/" method="POST">
<br><br><br>
<button type="submit" id="logout" class="btn btn-success">Logout</button>
</div>
</form>

</body>
</html>
